@model LivroDetalhesViewModel


<main class="row">

    <div class="col-5 text-center">
        <img class="img-fluid" src="~/images/@Model.Capa" alt="@Model.Titulo">
    </div>

    <div class="col-5">
        <h1>@Model.Titulo</h1>
        <h3>@Model.Subtitulo</h3>
        <p>@Model.Resumo</p>
        <h4>@Model.Autor</h4>
        <footer>
            <button class="btn btn-primary">EDITAR</button>
            <button id="btnExcluir" class="btn btn-danger">EXCLUIR</button>
        </footer>
    </div>

</main>

@section Scripts {
    <script>
        $("#btnExcluir").click(function () {
            $.ajax({
                url: "/api/livros/@Model.Id" ,
                type: 'DELETE',
                success: function () {
                    console.log("Livro foi removido da lista com sucesso!");
                    document.location = "/";
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });
    </script>
}